//COLOR
$white: #ffffff;
$black: #000000;
$purple: #9262ff;
$purple_h: #6840c3;
$purple_font: #835cdc;
$purple_d: #472e80;
$purple_l: #cdc6e8;
$grey: #e6e6e6;
$bg: #f2f2f2;
$yellow: #f7c318;
$red: #d03c3c;
$footer: #262626;


//FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto');

//other
*{
	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: #fff; 
	-webkit-tap-highlight-color: #fff;
}
body{
	background: $bg;
	color: $black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input{
    background: $white;
}


div, a, label, form{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black;
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

/*customize scrollbar only for webkit browsers*/

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}
